.card {
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
}
li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}
li .card:hover {
  border: 1px solid blue;
}
ol {
  padding: 0;
}
.row-d-flex {
  display: flex;
}
