<div class="container bg-light py-4">
  <h1 class="diplay-5 fw-bold">Welcome to {{ title }}</h1>
  <p class="col-md-8 fs-4">
    This Quiz will contains total 9 questions.Each question holds 10 points
  </p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct question will give you 10 points</li>
    <li>Incorrect question gives you -10 points</li>
    <li>Refreshing the page will reset the Quiz</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">All The Best!!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control" />
  </div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/questions"
    (click)="startQuiz()"
  >
    Start Quiz
  </button>
</div>
